/* start global rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-heading-color:#314584;
    --main-padding:80px;
    --main-text-color:#777;
    --main-span-color:#ff3946;
    --input-background-color:#f4fafe;
}
body{
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    /* small screen */
    @media(min-width:768px){
        .container{
            width: 750px;
        }
    }
    /* meduim screen */
    @media(min-width:992px){
        .container{
            width: 970px;
        }
    }
    /* large screen */
    @media(min-width:1200px){
        .container{
            width: 1170px;
        }
    }

/* end global rules */
