/* General styling for footer */
footer.footer {
    margin            : 20px auto;
    padding           : 20px;
    background-color  : rgb(39, 39, 189);
    color             : white;
    text-align        : center;
    font-family: sans-serif;
}

/* sytle for red word */
footer.footer .p2 {
    color      : red;
    font-weight: bold;
    font-size: 25px;
}
/* style of the nav  */
/* a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
} */
a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    
}
body  ul li {
    list-style: none;
    display: inline;
    text-align: center;
    color: red;
}

/* style for copyright */
footer.footer .p3{
    font-size: 10px;
}

/* style for icons */
footer.footer i {
    margin: auto 19px;
}
